# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.* 

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Build/Compiled files
dist/
build/
tmp/
temp/

# Coverage reports
coverage/
.nyc_output/

# PM2 logs
pids
*.pid
*.seed
*.pid.lock

# Optional: database dump files
*.sqlite
*.db

# Mac system files
*.swp
